tr.green{
  color: #fff !important;
  background-color: #468847 !important;
}
tr.red{
  color: #fff !important;
  background-color: #b94a48 !important;
}
.green{
  color: #fff !important;
  background-color: #468847 !important;
}
.red{
  color: #fff !important;
  background-color: #b94a48 !important;
}
